header {
  background-color: black;
}
ul {
  margin: 0px;
  padding: 15px;
}

li {
  padding-left: 5px;
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}
img {
  width: 100%;
}
.image {
  width: 200px;
  float: left;
  padding: 20px;
}
.p-text {
  column-count: 4;
  text-align: justify;
  column-rule: 2px solid black;
  column-gap: 30px;
}
main {
  background-image: linear-gradient(to right, #a1c4fd, #7fd0f5, #c2e9fb);
  padding: 20px 10px;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
